<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="1" connectionString="Data Source=(local);Initial Catalog=Db1;Integrated Security=True" />
    <add name="2" connectionString="Data Source=(local);Initial Catalog=Db2;Integrated Security=True" />
    <add name="3" connectionString="Data Source=(local);Initial Catalog=Db3;Integrated Security=True" />
    <add name="4" connectionString="Data Source=(local);Initial Catalog=Db4;Integrated Security=True" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IFoo"   type="TecX.Unity.ContextualBinding.Test.TestObjects.IFoo, TecX.Unity.ContextualBinding.Test" />
    <alias alias="DbFoo"  type="TecX.Unity.ContextualBinding.Test.TestObjects.DbFoo, TecX.Unity.ContextualBinding.Test" />

    <sectionExtension type="TecX.Unity.ContextualBinding.Test.ParameterBinding.CustomSectionExtension, TecX.Unity.ContextualBinding.Test" />

    <container>
      <extension type="TecX.Unity.ContextualBinding.ContextualBindingExtension, TecX.Unity.ContextualBinding" />
      <register type="IFoo" mapTo="DbFoo">
        <constructor>
          <param name="connectionString" value="1" typeConverter="TecX.Unity.ContextualBinding.Test.ParameterBinding.ConnectionStringTypeConverter, TecX.Unity.ContextualBinding.Test" />
          <param name="connectionString2" value="2" typeConverter="TecX.Unity.ContextualBinding.Test.ParameterBinding.ConnectionStringTypeConverter, TecX.Unity.ContextualBinding.Test" />
        </constructor>
        <destination endpointAddress="http://localhost/service" parameterName="connectionString" connectionStringOrName="3"/>
        <destination endpointAddress="http://localhost/service" parameterName="connectionString2" connectionStringOrName="4"/>
      </register>
    </container>
  </unity>
</configuration>