@using Hydra.FubuConventions
@model Hydra.Features.Registration.Registration

@{
    ViewBag.Title = Hydra.Properties.Resources.Home_Index_Title;
}

<h2>@Hydra.Properties.Resources.Home_Index_Title</h2>