<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" />
  <package deviceId="NModbus4" version="2.1.0" targetFramework="net451" />
  <package deviceId="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package deviceId="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package deviceId="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package deviceId="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package deviceId="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package deviceId="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net451" developmentDependency="true" />
  <package deviceId="xunit" version="1.9.2" targetFramework="net451" />
  <package deviceId="xunit.extensions" version="1.9.2" targetFramework="net451" />
</packages>