<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <!--<serviceMetadata httpGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TecX.Agile.Server.SilverlightPlanningService">
                <endpoint address="" binding="basicHttpBinding" contract="TecX.Agile.Server.ISilverlightPlanningService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/TecX.Agile.Server/SilverlightPlanningService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
