<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" xmlns="" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" xmlns="" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net45" xmlns="" />
</packages>