@using Hydra.FubuConventions
@using Hydra.Infrastructure.Configuration
@model Setting

@{
    ViewBag.Title = Hydra.Properties.Resources.Edit;
}

<h2>@Hydra.Properties.Resources.Settings_Edit_Title</h2>

@Html.Display(x => x.Name)
@Html.Input(x => x.Value)
