@using Hydra.FubuConventions
@model Hydra.Models.Book

@{
    ViewBag.Title = "Books Synchronous";
}

<h2>Books Synchronous</h2>

@Html.FormBlock(x => x.Title)
@Html.FormBlock(x => x.ASIN)

