@using Hydra.FubuConventions
@model Hydra.Models.Book

@{
    ViewBag.Title = "Books Asynchronous";
}

<h2>Books Asynchronous</h2>

@Html.FormBlock(x => x.Title)
@Html.FormBlock(x => x.ASIN)

