<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISortingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12345/svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISortingService" contract="SortingService.ISortingService"
                name="BasicHttpBinding_ISortingService" />
        </client>
    </system.serviceModel>
</configuration>